/* >992px & default*/
.headers ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    font-size:38px;
    color:#a6a6a6;
    padding:0;
    margin-top:2%;
    margin-bottom:3%;
    font-family: 'Noto Serif Japanese';
}

.headers a{
    text-decoration: none;
    color:#a6a6a6;
}

.headers a:hover{
    color:#EEEDED;
}



/* <= 992px & > 768px*/
@media (max-width:992px){

    .headers li{
        font-size: 30px;
    }
    
}



/* <= 768px & >= 576px*/
@media (max-width:768px){

    .headers li{
        font-size: 26px;
    }
    
}



/* <= 576px (mobile phone)*/
@media (max-width:576px){

    .headers li{
        font-size: 20px;
    }
    
}
